@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap");

/* ------------NAVBAR------------ */

/* Mobile */


.navWrapper .navbarContainer {  
}
.navbarContainer .navbarCollapseClass {
  background-color: white;
}
.navbarToggle {
  /* background-color: red; */
  border: 2px solid red;
}

#navWrapper.navbar {
  width: 100vw;
  margin-left: 0;
  display: block;
  position: fixed;
  z-index: 10;
  background-color: white;
  /* height: 10vh; */
  /* min-height: 100px; */
  height: clamp(100px, 8vw, 120px);
  display: flex;
}
#navWrapper.navbar > div {
  height: 100%;
}
.logoWrapper {
  width: 150px;
  height: 100%;  
  display: flex;
  margin-left: 15px;
}
.logoWrapper a {
  height: 100%;
  width: 100%;
  padding: 0px;
  display: inline-block;
}
.logo {
  /* height: 100%; */
  width: 150px;  
}

.navItem {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.navItem:hover {
  color: #005cac;
}
.active {
  color: #005cac;
}
.nonActive {
  color: black;
}

.globe {
  margin-left: 15px;
}

@media screen and (min-width: 1200px) {
  #navWrapper .navBar {
    margin-right: 30px;
    margin-left: auto;
  }
  #navWrapper .navLink {
    border-bottom: 1px solid white;
  }
  #navWrapper .navLink:first-of-type {
    border-bottom: 1px solid white;
  }
  .options-container {
    margin-top: 15px;
    justify-content: left;
  }
}
